In [118]:
# import required packages
import pandas as pd
# load raw data
df_raw = pd.read_csv('data/nbaplayersdraft.csv')
# preview data
df_raw.head()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7

In [119]:
# get summary statistics
df_raw.describe()

,id,year,rank,overall_pick,years_active,games,minutes_played,points,total_rebounds,assists,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
count,1922.000000,1922.000000,1922.000000,1922.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,...,1545.000000,1633.000000,1669.000000,1669.000000,1669.000000,1669.000000,1669.000000,1668.000000,1668.000000,1669.000000
mean,961.500000,2005.317378,29.694589,29.694589,6.332534,348.042540,8399.055722,3580.413421,1497.009587,774.300779,...,0.272405,0.716825,18.134032,7.275734,3.194368,1.550749,17.873697,0.061691,-2.311271,4.403176
std,554.977927,9.456946,16.912454,16.912454,4.656321,324.897567,9845.871529,4826.142847,2003.686388,1284.602969,...,0.128339,0.118702,8.707656,4.969343,2.083895,1.488536,27.989805,0.094467,4.143403,11.461729
min,1.000000,1989.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.700000,-1.264000,-52.000000,-8.500000
25%,481.250000,1997.000000,15.000000,15.000000,2.000000,72.000000,838.000000,265.000000,128.000000,46.000000,...,0.222000,0.659000,11.000000,3.400000,1.700000,0.500000,0.400000,0.030000,-3.900000,-0.400000
50%,961.500000,2005.000000,30.000000,30.000000,5.000000,235.000000,4204.000000,1552.000000,656.000000,257.000000,...,0.317000,0.736000,17.700000,6.200000,2.800000,1.100000,5.300000,0.069000,-2.000000,0.000000
75%,1441.750000,2013.000000,44.000000,44.000000,10.000000,584.000000,13246.000000,5150.000000,2139.000000,910.000000,...,0.356000,0.797000,24.800000,10.000000,4.200000,2.100000,24.500000,0.104000,-0.300000,4.500000
max,1922.000000,2021.000000,60.000000,60.000000,22.000000,1541.000000,52139.000000,37062.000000,15091.000000,12091.000000,...,1.000000,1.000000,41.100000,27.200000,13.300000,9.500000,249.500000,1.442000,51.100000,142.600000

In [126]:
# based on NBA franchise history, change team abbreviations to match those of their present-day counterparts
df_clean = df_raw.replace(['NJN', 'CHA', 'CHH', 'NOH', 'NOK', 'SEA', 'VAN', 'WSB'], 
                          ['BRK', 'CHO', 'CHO', 'NOP', 'NOP', 'OKC', 'MEM', 'WAS'])

Empty DataFrame
Columns: [id, year, rank, overall_pick, team, player, college, years_active, games, minutes_played, points, total_rebounds, assists, field_goal_percentage, 3_point_percentage, free_throw_percentage, average_minutes_played, points_per_game, average_total_rebounds, average_assists, win_shares, win_shares_per_48_minutes, box_plus_minus, value_over_replacement]
Index: []

[0 rows x 24 columns]

In [127]:
# filter by players who went to Duke and were drafted in or before 2000
duke_2000 = df_clean[(df_clean['college'] == 'Duke') & (df_clean['year'] <= 2000)]
duke_2000.head()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
78,79,1990,25,25,POR,Alaa Abdelnaby,Duke,5.0,256.0,3200.0,...,0.000,0.701,12.5,5.7,3.3,0.3,4.8,0.072,-3.8,-1.5
102,103,1990,49,49,DAL,Phil Henderson,Duke,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,165,1992,3,3,MIN,Christian Laettner,Duke,13.0,868.0,25760.0,...,0.261,0.820,29.7,12.8,6.7,2.6,64.9,0.121,1.0,19.5
209,210,1992,48,48,PHO,Brian Davis,Duke,1.0,68.0,374.0,...,0.333,0.735,5.5,1.9,0.8,0.3,0.0,0.000,-4.7,-0.3

In [128]:
# count appearances for each NBA team
duke_2000_teams = duke_2000.groupby(['team'])['player'].count().reset_index(name='count')
# sort by most appearances
duke_2000_sorted = duke_2000_teams.sort_values(['count'], ascending=False)
print(duke_2000_sorted)
# Dallas, Minnesota, and Phoenix each drafted 2 players from Duke in or before the 2000 draft

   team  count
3   DAL      2
8   MIN      2
10  PHO      2
0   ATL      1
1   CHI      1
2   CLE      1
4   DET      1
5   HOU      1
6   IND      1
7   LAC      1
9   OKC      1
11  POR      1
12  SAC      1
13  SAS      1

In [129]:
# filter by players whose first name begins with D and who were drafted in an even year
d_even = df_clean[(df_clean['player'].str.startswith('D')) & (df_clean['year'] % 2 == 0)]
d_even.tail()

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
1734,1735,2018,53,53,OKC,Devon Hall,Virginia,1.0,11.0,81.0,...,0.235,0.500,7.4,1.8,0.6,1.2,-0.2,-0.116,-6.7,-0.1
1810,1811,2020,9,9,WAS,Deni Avdija,NaN,2.0,136.0,3241.0,...,0.316,0.729,23.8,7.6,5.1,1.7,3.6,0.054,-2.3,-0.2
1812,1813,2020,11,11,SAS,Devin Vassell,Florida State,2.0,133.0,2993.0,...,0.357,0.840,22.5,9.1,3.6,1.4,4.8,0.077,-0.9,0.8
1831,1832,2020,30,30,BOS,Desmond Bane,TCU,2.0,144.0,3785.0,...,0.435,0.882,26.3,14.0,3.8,2.3,10.1,0.129,1.3,3.2
1834,1835,2020,33,33,MIN,Daniel Oturu,Minnesota,2.0,33.0,188.0,...,0.167,0.706,5.7,1.9,1.6,0.3,0.3,0.086,-5.2,-0.2

In [130]:
# count appearances for each NBA team
d_even_teams = d_even.groupby(['team'])['player'].count().reset_index(name='count')
# sort by most appearances
d_even_sorted = d_even_teams.sort_values(['count'], ascending=False)
print(d_even_sorted)
# Oklahoma City (including the Seattle SuperSonics) drafted 8 players whose first name begins with D in even year drafts

   team  count
20  OKC      8
1   BOS      7
16  MIL      7
0   ATL      6
26  SAS      5
21  ORL      5
15  MIA      5
7   DEN      4
13  LAL      4
3   CHI      4
19  NYK      4
6   DAL      4
18  NOP      4
12  LAC      3
4   CHO      3
28  UTA      3
2   BRK      3
25  SAC      3
23  PHO      3
14  MEM      3
9   GSW      3
8   DET      3
5   CLE      3
22  PHI      2
24  POR      2
17  MIN      2
27  TOR      2
11  IND      2
29  WAS      2
10  HOU      1

In [135]:
picks = df_clean[['year', 'overall_pick', 'team']]
# observe that the data does not account for trades involving picks, which would have changed the original
# lottery-assigned pick order: here, I use each team's first pick from each year (their lowest, hence minimum, pick
# number from that year) as a proxy for their first round pick slot
picks_pivoted = picks.pivot_table(index='team', columns='year', values='overall_pick', aggfunc = min)
# filter for only first-round picks: here, I assume a 30-team league (despite earlier years having only 28 or 29 teams)
first_round = picks_pivoted[picks_pivoted <= 30]
# find correlations for 
corrs =

year,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
team,,,,,,,,,,,,,,,,,,,,,
ATL,23.0,10.0,9.0,10.0,15.0,NaN,16.0,28.0,22.0,20.0,...,23.0,17.0,15.0,15.0,21.0,19.0,3.0,8.0,6.0,20.0
BOS,13.0,19.0,24.0,21.0,19.0,9.0,14.0,6.0,3.0,10.0,...,21.0,16.0,6.0,16.0,3.0,3.0,27.0,14.0,14.0,NaN
BRK,12.0,1.0,2.0,29.0,16.0,14.0,9.0,8.0,7.0,NaN,...,NaN,22.0,NaN,29.0,NaN,22.0,29.0,17.0,19.0,27.0
CHI,6.0,29.0,26.0,27.0,25.0,21.0,20.0,29.0,28.0,28.0,...,29.0,20.0,16.0,22.0,14.0,16.0,7.0,7.0,4.0,NaN
CHO,5.0,5.0,1.0,2.0,17.0,NaN,22.0,13.0,NaN,21.0,...,2.0,4.0,9.0,9.0,22.0,11.0,11.0,12.0,3.0,11.0
CLE,25.0,NaN,11.0,NaN,22.0,NaN,17.0,12.0,13.0,NaN,...,4.0,1.0,1.0,24.0,NaN,NaN,8.0,5.0,5.0,3.0
DAL,8.0,NaN,6.0,4.0,4.0,2.0,12.0,9.0,15.0,6.0,...,17.0,13.0,NaN,21.0,NaN,9.0,5.0,NaN,18.0,NaN
DEN,15.0,3.0,4.0,5.0,9.0,13.0,15.0,23.0,5.0,3.0,...,20.0,27.0,11.0,7.0,7.0,13.0,14.0,NaN,22.0,26.0
DET,27.0,26.0,NaN,19.0,10.0,3.0,18.0,26.0,19.0,11.0,...,9.0,8.0,NaN,8.0,18.0,12.0,NaN,15.0,7.0,1.0
GSW,14.0,11.0,16.0,24.0,3.0,16.0,1.0,11.0,8.0,5.0,...,7.0,NaN,NaN,30.0,30.0,NaN,28.0,28.0,2.0,7.0
HOU,NaN,12.0,20.0,11.0,24.0,NaN,NaN,30.0,24.0,14.0,...,12.0,NaN,25.0,18.0,NaN,NaN,NaN,NaN,NaN,2.0
IND,7.0,NaN,13.0,14.0,14.0,15.0,23.0,10.0,12.0,25.0,...,26.0,23.0,NaN,11.0,20.0,18.0,23.0,18.0,NaN,13.0
LAC,2.0,8.0,22.0,16.0,13.0,7.0,2.0,7.0,14.0,1.0,...,NaN,25.0,28.0,NaN,25.0,NaN,12.0,NaN,NaN,25.0
LAL,26.0,27.0,NaN,15.0,12.0,10.0,NaN,24.0,NaN,26.0,...,NaN,NaN,7.0,2.0,2.0,2.0,25.0,4.0,28.0,22.0
MEM,NaN,NaN,NaN,NaN,NaN,NaN,6.0,3.0,4.0,2.0,...,25.0,NaN,22.0,25.0,17.0,NaN,4.0,2.0,NaN,17.0
MIA,4.0,9.0,5.0,12.0,NaN,12.0,10.0,NaN,26.0,NaN,...,27.0,NaN,26.0,10.0,NaN,14.0,NaN,13.0,20.0,NaN
MIL,30.0,16.0,18.0,8.0,8.0,1.0,11.0,4.0,10.0,9.0,...,14.0,15.0,2.0,17.0,10.0,17.0,17.0,30.0,24.0,NaN
MIN,10.0,6.0,7.0,3.0,5.0,4.0,5.0,5.0,20.0,17.0,...,NaN,9.0,13.0,1.0,5.0,7.0,20.0,11.0,1.0,NaN
NOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,6.0,NaN,NaN,6.0,NaN,NaN,1.0,13.0,10.0
NYK,NaN,17.0,12.0,20.0,NaN,24.0,NaN,18.0,25.0,NaN,...,NaN,24.0,NaN,4.0,NaN,8.0,9.0,3.0,8.0,19.0
OKC,16.0,2.0,14.0,17.0,23.0,11.0,26.0,NaN,23.0,27.0,...,28.0,12.0,21.0,14.0,NaN,21.0,NaN,21.0,25.0,6.0
ORL,11.0,4.0,10.0,1.0,1.0,27.0,25.0,27.0,17.0,12.0,...,19.0,2.0,4.0,5.0,11.0,6.0,6.0,16.0,15.0,5.0
PHI,19.0,NaN,NaN,9.0,2.0,6.0,3.0,1.0,2.0,8.0,...,15.0,11.0,3.0,3.0,1.0,1.0,10.0,24.0,21.0,28.0
PHO,24.0,21.0,NaN,22.0,27.0,23.0,21.0,15.0,NaN,NaN,...,13.0,5.0,14.0,13.0,4.0,4.0,1.0,6.0,10.0,29.0
POR,22.0,25.0,NaN,26.0,21.0,17.0,8.0,17.0,18.0,NaN,...,6.0,10.0,NaN,23.0,NaN,15.0,24.0,25.0,16.0,NaN
SAC,1.0,7.0,3.0,7.0,7.0,8.0,13.0,14.0,11.0,7.0,...,5.0,7.0,8.0,6.0,8.0,5.0,2.0,NaN,12.0,9.0
SAS,3.0,24.0,NaN,18.0,NaN,22.0,29.0,NaN,1.0,24.0,...,NaN,28.0,30.0,26.0,29.0,29.0,18.0,19.0,11.0,12.0
TOR,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2.0,9.0,4.0,...,8.0,NaN,20.0,20.0,9.0,23.0,NaN,NaN,29.0,4.0
UTA,21.0,NaN,21.0,NaN,18.0,NaN,28.0,25.0,27.0,29.0,...,NaN,14.0,5.0,12.0,12.0,24.0,21.0,23.0,27.0,30.0
WAS,9.0,NaN,19.0,6.0,6.0,5.0,4.0,NaN,NaN,NaN,...,3.0,3.0,NaN,19.0,NaN,NaN,15.0,9.0,9.0,15.0

year,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
team,,,,,,,,,,,,,,,,,,,,,
ATL,36.0,29.0,18.0,24.0,27.5,34.0,40.0,28.000000,40.333333,34.5,...,33.000000,33.0,29.0,41.333333,39.666667,40.000000,21.5,17.666667,28.00,34.00
BOS,26.5,19.0,24.0,34.0,19.0,22.5,23.5,22.000000,21.333333,10.0,...,31.333333,16.0,11.5,30.500000,32.750000,37.250000,27.0,26.750000,29.25,45.00
BRK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,22.0,NaN,35.000000,55.000000,35.333333,38.0,25.000000,37.00,44.75
CHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.500000,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHH,17.0,22.0,14.5,18.5,18.5,38.0,22.0,24.333333,NaN,35.5,...,NaN,NaN,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN